<div style="height: 100%;">
    <mat-nav-list>
        <div class="profile-card">
            <div class="header">
                <h2>KEMMOUS Mohamed</h2>

            </div>
            <img src="../../../../assets/images/Group 4 (2).png" alt="">
            <h4>mohamed.kemmous@gmail.com</h4>
        </div>
        <mat-divider></mat-divider>
        <h2 matSubheader>Pages</h2>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/pilotage">Pointage</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/congeComponent/demandeConge">Demande de conge</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/projet">Modifier planning projet/ressource</a>

    </mat-nav-list>

</div>
