.content-body{
  min-height: 100%;
  padding: 60px 1rem;
  display: block;
  padding-top:5%;
  background-image: url('../../assets/images/expleoImage.png');
}
.full-width {
  width: 80%;
}
.form-group{
  padding-top: 10px;
}
mat-card {
  max-width: 450px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
}

.password-input{
  padding-top: 10px;
}
